**/.git
**/.gitignore
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.venv
**/venv
**/ENV
**/env
**/.env
**/.DS_Store
**/Thumbs.db
**/*.swp
**/*.swo
**/node_modules
**/dist
**/build
**/.pytest_cache
**/.coverage
**/.mypy_cache
**/htmlcov
README.md
LICENSE
docker-compose.yml
.dockerignore
Dockerfile
data/